<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cslg.gfjkpt.mapper.AdminMapper" >

    <select id="selectUsers" resultType="com.cslg.gfjkpt.model.User">
        SELECT * FROM tb_user
    </select>

    <delete id="deleteUserById">
        DELETE FROM tb_user WHERE id = #{id}
    </delete>

    <insert id="insertUser">
        INSERT INTO tb_user (username, password, role, status) VALUES
        (#{username}, #{password}, #{role}, #{status})
    </insert>

</mapper>