<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cslg.gfjkpt.mapper.InverterMapper" >

    <insert id="insertInverter" parameterType="com.cslg.gfjkpt.model.Inverter">
        INSERT INTO tb_inverter (times, inverter_name, daily_output,
          total_output, a_phase_current, a_phase_voltage,
          b_phase_current, b_phase_voltage, c_phase_current,
          c_phase_voltage, total_active_power, tans_temp
          )
        VALUES (#{times}, #{inverterName}, #{dailyOutput},
          #{totalOutput}, #{aPhaseCurrent}, #{aPhaseVoltage},
          #{bPhaseCurrent}, #{bPhaseVoltage}, #{cPhaseCurrent},
          #{cPhaseVoltage}, #{totalActivePower}, #{tansTemp}
          )
    </insert>

    <select id="selectAllInverter" resultType="com.cslg.gfjkpt.model.Inverter">
        SELECT * FROM tb_inverter WHERE inverter_name = #{inverterName}
    </select>

    <select id="selectInverter" resultType="com.cslg.gfjkpt.model.Inverter">
        SELECT * FROM tb_inverter WHERE inverter_name = #{inverterName} AND daily_output &lt; 50000 ORDER BY id DESC LIMIT #{pageQuery.offset}, #{pageQuery.pageSize}
    </select>

    <select id="selectInvertePowerByDate" resultType="String">
        SELECT total_active_power FROM inverter WHERE inverter_name = #{inverterName} ORDER BY id LIMIT #{length}
    </select>

    <select id="selectInverterTotal" resultType="Long">
        SELECT COUNT(id) FROM tb_inverter WHERE inverter_name = #{inverterName}
    </select>

    <resultMap id="setKeyAndValue" type="HashMap">
        <result property="time" column="times"/>
        <result property="power" column="total_active_power"/>
    </resultMap>

    <select id="selectInverterPowerByDate" resultMap="setKeyAndValue">
        SELECT times, total_active_power FROM tb_inverter WHERE inverter_name = #{inverterName} AND times LIKE #{date}
    </select>

    <select id="selectInverterByName" resultType="com.cslg.gfjkpt.model.Inverter">
        SELECT * FROM tb_inverter WHERE id = (SELECT MAX(id) FROM tb_inverter WHERE inverter_name = #{inverterName})
    </select>

    <select id="selectInverterNameList" resultType="String">
        SELECT inverter_name FROM tb_user_inverter WHERE user_id = #{userId}
    </select>
</mapper>