@font-face {
    font-family: 'iconfont';  /* project id 612870 */
    src: url('https://at.alicdn.com/t/font_612870_ct7w9x02xup4lsor.eot');
    src: url('https://at.alicdn.com/t/font_612870_ct7w9x02xup4lsor.eot?#iefix') format('embedded-opentype'),
    url('https://at.alicdn.com/t/font_612870_ct7w9x02xup4lsor.woff') format('woff'),
    url('https://at.alicdn.com/t/font_612870_ct7w9x02xup4lsor.ttf') format('truetype'),
    url('https://at.alicdn.com/t/font_612870_ct7w9x02xup4lsor.svg#iconfont') format('svg');
}
.section-right-bar{
    margin-bottom: 5px;
    background-color: rgba(211,211,211,0.9);
}
.section-right-left{
    display: inline-block;
    vertical-align: top;
    width: 10%;
}
.section-right-right{
    display: inline-block;
    vertical-align: top;
    width: 88%;
    float: right;
}
.address-name{
    padding: 30px 0;
}
.checkbox-container{
    display: inline-block;
    vertical-align: top;
}
.search{
    margin-left: 20px;
}
.input-date-container{
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    padding-left: 15%;
}
.input-date-container > input{
    height: 28px;
    border: 1px solid rgba(112,128,144,1);
    text-align: center;
    float: left;
}
.input-date-container > input:after{
    clear:both;content:'';
    display:block;width:0;
    height:0;
    visibility:hidden;
}
.previous-day,.next-day,
.previous-custom,.next-custom{
    width: 50px;
    height: 28px;
    margin: 0;
    border: 1px solid rgba(112,128,144,1);
    border-radius: 3px;
    font-size: 15px;
    color: rgba(241,240,240,1);
    background-color: rgba(65,105,225,0.7);
}
.previous-day,.previous-custom{
    width: 40px;
    float: left;
}
.next-day,.next-custom{
    width: 40px;
    float: left;
}
.previous-day:hover,.next-day:hover,
.previous-custom:hover,.next-custom:hover{
    background-color: rgba(65,105,225,0.8);
}
.previous,.next{
    width: 100px;
    height: 32px;
    float: left;
}
.now{
    width: 150px;
    height: 32px;
    float: left;
}
.myTable-container{
    display: inline-block;
    vertical-align: center;
    width: 65%;
    height: 300px;
    margin-top: 10px;
}
.myTable-container:nth-child(3),
.myTable-container:nth-child(4){
    margin-top: 10px;
}
#thisDay-pie-container,#thisMonth-pie-container{
    width: 33%;
    margin-left: 10px;
    height: 300px;
}