@font-face {
    font-family: 'iconfont';  /* project id 612870 */
    src: url('https://at.alicdn.com/t/font_612870_ct7w9x02xup4lsor.eot');
    src: url('https://at.alicdn.com/t/font_612870_ct7w9x02xup4lsor.eot?#iefix') format('embedded-opentype'),
    url('https://at.alicdn.com/t/font_612870_ct7w9x02xup4lsor.woff') format('woff'),
    url('https://at.alicdn.com/t/font_612870_ct7w9x02xup4lsor.ttf') format('truetype'),
    url('https://at.alicdn.com/t/font_612870_ct7w9x02xup4lsor.svg#iconfont') format('svg');
}
.time-iconfont{
    font-family: 'iconfont';
    font-style: normal;
    font-weight: 900;
}
.section-right-left{
    display: inline-block;
    vertical-align: top;
    width: 10%;
}
.inverter_select,.home_select{
    width: 49%;
    height: 30px;
    border: 1px solid rgba(28,28,28,0.8);
    border-radius: 3px;
}
.section-right-right{
    display: inline-block;
    vertical-align: top;
    width: 88%;
    float: right;
}
#myDate{
    width: 40%;
    height: 30px;
    border: 1px solid rgba(28,28,28,0.8);
    border-radius: 3px;
}
.search,.print{
    margin-left: 5px;
}
.footer{
    width: 100%;
    height: auto;
}
.footer-wrap{
    width: 100%;
    height: auto;
}
.section-right-bar{
    background-color: rgba(211,211,211,0.9);
}
.table-container{
    width: 100%;
    overflow: scroll;
}
#history-table{
    width: 1200px;
    height: 500px;
    margin: 0;
    border: 1px solid rgba(119,136,153,0.9);
    border-radius: 3px;
}
#history-table > td{
    word-break: break-all;
}
.layui-laypage .layui-laypage-curr .layui-laypage-em {
    position: absolute;
    left: -1px;
    top: -1px;
    padding: 1px;
    width: 100%;
    height: 100%;
    background-color: rgba(70,130,180,0.9);
}
#page-nation{
    float: right;
}