body{
    padding-right: 0!important;
}
th,tr,td{
    text-align: center;
}
.input-container{
    display: inline-block;
    width: 47%;
    text-align: left;
    margin-left: 5px;
    margin-top: 3px;
}
.input-container > input,
.input-container > select{
    width: 60%;
    float: right;
}
.input-container > select{
    width: 60%;
}