.iconfont-intro{
    font-family: "iconfont";
    font-size: 15px;
    font-style: normal;
    color: rgba(105,105,105,1);
}
.nav-bar{
    width: 100%;
    height: 45px;
    background-color: #f5f5f5;
    padding: 2px;
}
.nav-bar > a{
    display: inline-block;
    width: 80px;
    height: 41px;
    text-decoration: none;
    text-align: center;
    line-height: 41px;
    background-color: #ffffff;
}
.nav-bar > a > div{
    height: 20px;
}
.nav-bar > a > span:nth-child(2){
    display: none;
}
#goods-table > thead > tr > th{
    font-size: 14px;
    font-weight: 200;
    color: #999;
}
#goods-table > thead > tr > th:first-child{
}
#goods-table > tbody > tr > td{
    line-height: 30px;
    font-weight: 700;
}
#goods-table > tbody > tr > td:nth-child(1){
    width: 800px;
}
#goods-table > tbody > tr > td:nth-child(2){
    cursor: pointer;
}
#goods-table > tbody > tr > td:nth-child(2):hover{
    text-decoration: underline;
}
.table-pic-container{
    display: inline-block;
    vertical-align: top;
    width: 12%;
    float: left;
    /*border: 1px solid black;*/
}
.table-pic-container > img{
    width: 100%;
}
.table-goods-title{
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    float: left;
    font-weight: 700;
    cursor: pointer;
}
.table-goods-intro{
    float: right;
    display: inline-block;
    vertical-align: top;
    font-weight: 200;
    margin-right: 200px;
    font-size: 15px;
    color: rgba(105,105,105,1);
}
.table-goods-intro > span{
    display: block;
}
.table-goods-intro > li:nth-child(3){
    text-decoration: underline;
    cursor: pointer;
}
.comment-evaluate{
    color: #2aabd2;
}