.section-right-left{
    width: 12%;
    float: left;
}
.section-right-right{
    width: 86%;
    float: left;
    margin-left: 10px;
}
.chart-container{
    width: 100%;
    height: 330px;
    /*border: 1px solid;*/
}
.chart-container:nth-child(2){
    margin-top: 5px;
}